<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Buscador de pacientes</title>
	<link rel="stylesheet" th:href="@{/css/estilosBuscarP.css}" />
</head>
<body>

          <h2>Buscar paciente por:</h2>

          <nav>
      	  <ul>
           	 <li><a th:href="@{/admin/buscarPN}">
    					<button>Nombre</button>
						</a>
					</li> 
            <br>
			<li><a th:href="@{/admin/buscarPA}">
    					<button>Apellidos</button>
						</a>
					</li>  
			<br>
			<li><a th:href="@{/admin/buscarPSS}">
    					<button>Número de la seguridad social</button>
						</a>
					</li> 
			<br>
		</ul>
	</nav>

		  <footer> WEB SAHPAR CC 2021
			  <a th:href="@{/admin/}">
				  <button>Volver</button>
			  </a> </footer>

  </body>
</html>



      