<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Pantalla Login</title>
</head>
<body>
	<h1>Iniciar Sesión</h1>
	<h2><a th:href="@{/login/register}">
    <button>Crear nuevo usuario</button>
	</a></h2>
	<table>
		<thead>
			<tr><td>Usuario (ID)</td><td>Contraseña</td><td></td></tr>
		</thead>
		<tbody>
			<tr th:each="u : ${listaUsuarios}">
				<td th:text="${u.dni}"></td>
				<td th:text="${u.passw}"></td>
				<td><a th:href="@{/login/delete/{dni}(dni=${u.dni})}">Eliminar</a></td>
			</tr>
		</tbody>
	</table>
	
</body>
</html>

<!-- <form th:action="@{/login/valid}" method="post" th:object="${usuario}"> -->
<!-- 		<input type="hidden" id="id" th:field="*{id}"> -->
<!-- 		<div> -->
<!-- 			<label for="username">Usuario</label> -->
<!-- 			<input type="text" id="username" th:field="*{username}"> -->
<!-- 		</div> -->
<!-- 		<br> -->
<!-- 		<div> -->
<!-- 			<label for="passw">Contraseña</label> -->
<!-- 			<input type="password" id="passw" th:field="*{passw}"> -->
<!-- 		</div> -->
<!-- 		<br> -->
<!-- 		<div> -->
<!-- 			<input type="submit" value="Entrar al sistema"> -->
<!-- 		</div> -->
<!-- 	</form> -->