<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Pantalla Login</title>
	</head>
	<body>
		<h1>SAHPAR</h1>
		<a th:href="@{/login/sesion}">Iniciar Sesión</a>
		<a th:href="@{/login/register}">Registrarse</a>
	</body>
</html>

<!-- <!DOCTYPE html> -->
<!-- <html> -->
<!-- 	<head> -->
<!-- 		<meta charset="UTF-8"> -->
<!-- 		<title>Pantalla Login</title> -->
<!-- 	</head> -->
<!-- 	<body> -->
<!-- 		<h1>Iniciar Sesión</h1> -->
<!-- 		<form th:action="@{/login/save}" method="post" th:object="${usuario}"> -->
<!--  		<input type="hidden" id="id" th:field="*{id}"> -->
<!-- 		<div> -->
<!-- 			<label for="username">Usuario</label> -->
<!-- 			<input type="text" id="username" th:field="*{username}"> -->
<!-- 		</div> -->
<!-- 		<br> -->
<!-- 		<div> -->
<!-- 			<label for="passw">Contraseña</label> -->
<!-- 			<input type="password" id="passw" th:field="*{passw}"> -->
<!-- 		</div> -->
<!-- 		<br> -->
<!-- 		<div> -->
<!-- 			<input type="submit" value="Entrar al sistema"> -->
<!-- 		</div> -->
<!-- 	</form> -->
<!-- 	</body> -->
<!-- </html> -->