# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\MEGAsync\Estudios\UMA\2do año\segundo cuatri\Introduccion Software\SAHPAR\g-SAHPAR\eclipse\SAHPAR\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
