<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Buscador de pacientes</title>
    <link rel="stylesheet" th:href="@{/css/estilosBuscarPA.css}"/>
</head>
<body>
          <h3>Buscar paciente por número de seguridad social</h3>
          <div><a th:href="@{/doctor/add}">
	    	<button>Añadir un nuevo paciente</button>
	    	</a>
	    	<a th:href="@{/doctor/buscar}">
	    	<button>Volver</button>
	    	</a></div><br>

          <form th:action="@{/doctor/buscaarSS}" th:object="${paciente}" method="get">
			<div><input type="text" id="seguridadSocial" th:field="*{seguridadSocial}">
            <button type="submit">Buscar</button></div><br>
          </form>

          <table>
            <thread>
              <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Número seguridad social</th>
                <th>Teléfono contacto</th>
              </tr>

            </thread>

            <tbody>
              <tr th:each="paciente : ${pacientePorseguridadSocial}">
                <td th:text="${paciente.nombre}"></td>
                <td th:text="${paciente.apellidos}"></td>
                <td th:text="${paciente.seguridadSocial}"></td>
                <td th:text="${paciente.tlfContc}"></td>
                <td>
                  <a th:href="@{/doctor/view/{id}(id=${paciente.seguridadSocial})}">
                      <button>Ver</button>
                  </a>
                  <a th:href="@{/doctor/edit/{id}(id=${paciente.seguridadSocial})}">
                      <button>Editar</button>
                  </a>
                  <a th:href="@{/doctor/delete/{id}(id=${paciente.seguridadSocial})}">
                      <button>Borrar</button>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <br>
    <footer>WEB SAHPAR CC 2021</footer>
  </body>
</html>
